body {
  margin-top: 70px;
  padding: 20px;
  font-family: "Lato", sans-serif;
}

.pos-f-t #timer {
	font-size: 18pt;
	font-color: red;
}

#submitButton {
	margin-bottom: 70px;
}

.imageQuestion {
	width: 300px;
	height: 200px;
}